<style>
    .controls span,
    .controls .glyphicon {
        font-size: large;
    }
    
    hr {
        background-color: blue;
    }
</style>

<div class="col-md-offset-1">
    <br>


    <form name="frmTopic">
        <h4>User Details
        </h4>
        <div class="container-fluid" style="border-top-color:black;border-top-style: solid;padding-top:20px;">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group controls">
                        <span class="glyphicon glyphicon-user"></span><span> Firstname: </span>
                        <span>Oluwafisayo</span>
                    </div>
                    <br>
                    <div class="form-group controls">
                        <span class="glyphicon glyphicon-user"></span> <span> Lastname: </span>
                        <span>Owolo</span>
                    </div>
                    <br>
                    <div class="form-group controls">
                        <span class="glyphicon glyphicon-user"></span><span> Othername: </span>
                        <span>Oluwadamilare</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="/Users/userpng" style="height:50%;width:50%;">
                </div>
            </div>

        </div>
        <br>
        <h4>Bio-data
        </h4>
        <div class="container-fluid" style="border-top-color:black;border-top-style: solid;padding-top:20px;">
            <div class="form-group controls">
                <span class="glyphicon glyphicon-envelope"></span><span> Email: </span>
                <span>owolofisayo@gmail.com</span>
            </div>
            <br>
            <div class="form-group controls">
                <span class="glyphicon glyphicon-phone"></span><span> Phone Number: </span>
                <span>+234 8137363040</span>
            </div>
            <br>

            <div class="form-group controls">
                <span class="glyphicon glyphicon-user"></span><span> Gender: </span>
                <span>Male</span>
            </div>
            <br>
            <div class="form-group controls">
                <span class="glyphicon glyphicon-calendar"></span><span> Date of Birth: </span>
                <span>28-03-1999</span>
            </div>
            <br>
            <div class="form-group controls">
                <span class="glyphicon glyphicon-map-marker"></span><span> City: </span>
                <span>Akure</span>
            </div>
            <br>
            <div class="form-group controls">
                <span class="glyphicon glyphicon-home"></span><span> State/Region: </span>
                <span>Ondo</span>
            </div>
            <br>
            <div class="form-group controls">
                <span class="glyphicon glyphicon-flag"></span><span> Country: </span>
                <span>Nigeria</span>
            </div>
            <div class="row" style="margin-top:20px; margin-bottom:20px;">
                <div class="col-md-12">
                    <a href="#!/TutorEdit" type="submit" style="width:100%;" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit"></span> Edit Profile</a>
                </div>
            </div>
        </div>
    </form>
</div>