<style>
    .controls span,
    .controls .glyphicon {
        font-size: large;
    }
    
    .chatuser:hover {
        cursor: pointer;
        opacity: 9;
    }
    
    .chatuser {
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .chatuser img {
        border-radius: 30px;
        height: 40px;
        width: 40px;
    }
    
    .chatuser span {
        color: white;
        margin-right: 10px;
    }
    
    .inner {
        border-radius: 5px;
        float: right;
        background-color: aliceblue;
        padding: 10px;
        max-width: 48%;
    }
    
    .outer {
        border-radius: 5px;
        float: left;
        background-color: antiquewhite;
        padding: 10px;
        max-width: 48%;
    }
</style>

<div style="min-height: 500px;">
    <br>

    <form name="frmTopic">
        <h4>Chats
        </h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="min-height:200px; background-color:rgb(32, 32, 32);">
                    <ul style="padding:0px">
                        <li class="chatuser">
                            <span><img src="/images/user1.jpg "></span><span>Owolo Oluwafisayo</span>
                        </li>
                        <li class="chatuser">
                            <span><img src="/images/user1.jpg "></span><span>Owolo Oluwafisayo</span>
                        </li>
                        <li class="chatuser">
                            <span><img src="/images/user1.jpg "></span><span>Owolo Oluwafisayo</span>
                        </li>
                        <li class="chatuser">
                            <span><img src="/images/user1.jpg "></span><span>Owolo Oluwafisayo</span>
                        </li>
                        <li class="chatuser">
                            <span><img src="/images/user1.jpg "></span><span>Owolo Oluwafisayo</span>
                        </li>
                        <li class="chatuser">
                            <span><img src="/images/user1.jpg "></span><span>Owolo Oluwafisayo</span>
                        </li>
                    </ul>

                </div>
                <div class="col-md-8" style="height:200px; background-color:white;">
                    <div class="outer">
                        It is the Lord's doing and its marvellous in our sight
                    </div>
                    <br>
                    <div class="inner">
                        It is the Lord's doing and its marvellous in our sight
                    </div>
                </div>
            </div>

        </div>
        <br>
    </form>
</div>