<style>
    textarea {
        resize: none;
    }
</style>

<div class="col-md-offset-1" ng-controller="AddObjCtrl as ctrl" style="min-height: 500px;">
    <br>
    <h4>Change Password</h4>

    <form name="frmObj" class="boxtop">
        <br>
        <label class="conts">{{ctrl.message}}</label>


        <div class="input-group controls conts">
            <span class="input-group-addon">
                   <span class="glyphicon glyphicon-edit"></span>
            </span>
            <input type="password" class="form-control" ng-model="ctrl.password.old" placeholder="Old Password" required>
        </div>
        <br>
        <div class="input-group controls conts">
            <span class="input-group-addon">
                   <span class="glyphicon glyphicon-edit"></span>
            </span>
            <input type="password" class="form-control" ng-model="ctrl.password.new" placeholder="New Password" required>
        </div>
        <br>
        <div class="input-group controls conts">
            <span class="input-group-addon">
                   <span class="glyphicon glyphicon-edit"></span>
            </span>
            <input type="password" class="form-control" ng-model="ctrl.password.confirm" placeholder="Confirm New Password" required>
        </div>
        <br>
        <input ng-disabled="frmObj.$invalid" ng-click="ctrl.UpdatePassword()" type="button" value="Submit" class="btn btn-primary controls conts">

    </form>
</div>